@mixin transform($transform){
    transform: $transform;
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
}

@mixin filters($filters){
    filter: $filters;
    -webkit-filter: $filters;
}

@mixin bordered($radius){
    border-radius: $radius !important;
    -webkit-border-radius: $radius !important;
    -moz-border-radius: $radius !important;
    -ms-border-radius: $radius !important;
    -o-border-radius: $radius !important;
}

@mixin animation($animation){
    animation: $animation;
    -webkit-animation: $animation;
}

@mixin transition($transition){
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
}