@import '../../../../../../_General_Style/SASS/All';
.star-msgList{
    height:100%;
    width:100%;
    position: absolute;
    top: 0;
    background-color:#131c21;
    z-index: 10;
    @include transition(margin-left .3s ease-in-out);
    .starred-list{
        width: 100%;
        height: 80vh;
        overflow-y: auto;
        
    }
}